@import "variables";
@import "mixins";
.additional-data {
  @include section-styles();

  .subtitle {
    display: inline-block;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title1section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h3 {
    display: inline-block;
  }
}
