@import 'mixins';
@import 'variables';

.filter-container {
  position: relative;
  width: 200px;
}

.filter-header {
  @include dropdown-toggle();
  display: flex;
  width: fit-content;
}

.arrow{
  @include arrow();
  margin: 0 5px;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  border: 1px solid #ccc;
  z-index: 10;
  padding-top: 8px;
  box-shadow: $box-shadow-lg;
}

input{
  width: 193px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.city-list {
  max-height: 150px;
  overflow-y: auto;
  margin: 8px 0;
  padding: 0;
  list-style: none;

  li {
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--grey-background);
    }
    &.selected {
      background-color: var(--more-hover-color);
      font-weight: bold;
    }

    
  }
}

.selector-actions{
  @include selector-actions();

  button{
    @include selector-actions-button();
  }
}

