<div class="filter-container">
  <div class="filter-header" (click)="toggleDropdown()">
    <span *ngIf="currenLabel">
      {{ currenLabel | LanguagesPipe }}
    </span>
    <div *ngIf="!currenLabel">
      {{ cityHealthColorsFields.allCities| LanguagesPipe }}
    </div>
    <span class="arrow" [class.open]="isOpen">&#x203A;</span>
  </div>

  <div class="filter-dropdown" *ngIf="isOpen">
    <input type="text" [(ngModel)]="searchTerm" placeholder="{{ cityHealthColorsFields.SearchForCity| LanguagesPipe }}" />

    <ul class="city-list">
      <li *ngFor="let city of filteredCities" 
          (click)="selectCity(city.name)"
          [class.selected]="city.name === selectedCity">
        {{ city.name | LanguagesPipe }}
      </li>
    </ul>

    <div class="selector-actions">
      <button (click)="applyFilter()">
      {{ cityHealthColorsFields.Save| LanguagesPipe }}
      </button>
      <button (click)="cancelFilter()">
      {{ cityHealthColorsFields.Cancel| LanguagesPipe }}
      </button>
    </div>
  </div>
</div>
