@import "mixins";
@import "variables";

.filter-container {
  position: relative;
  width: 150px;
}

.filter-header {
  @include dropdown-toggle();
  display: flex;
  width: fit-content;
}

.arrow {
  @include arrow();
  margin: 0 5px;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  border: 1px solid $border-color;
  z-index: 10;
  box-shadow: $box-shadow-lg;

  .search-box {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
}

input {
  width: 193px;
  border: none;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.city-list {
  max-height: 150px;
  overflow-y: auto;
  margin: 8px 0;
  padding: 0;
  list-style: none;

  li {
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--grey-background);
    }
    &.selected {
      background-color: var(--more-hover-color);
      font-weight: bold;
    }
  }
}

.selector-actions {
  @include selector-actions();

  button {
    @include selector-actions-button();
  }
}
