@import "mixins";
@import "variables";
.dropdown-wrapper {
  margin-bottom: 10px;
  position: relative;
  width: 270px;

  .dropdown-toggle {
    @include dropdown-toggle();
    width: fit-content;

    .arrow {
      @include arrow();
    }
  }

  .dropdown-panel {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--card-background);
    border: 1px solid #ccc;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    padding-top: 10px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .time-range-selector {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        display: block;
        margin-bottom: 4px;
        padding: 0 8px;
        cursor: pointer;
        font-size: $font-size-sm;
      }
    }
  }

  .search-box {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .checkbox-list {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    input[type="checkbox"] {
      margin-left: 8px;
    }
  }

  .dropdown-actions {
    @include selector-actions();

    button {
      @include selector-actions-button();
    }
  }
}
