@import "mixins";
@import "variables";
.dropdown-wrapper {
  margin-bottom: 10px;
  position: relative;
  width: fit-content;

  .dropdown-toggle {
    @include dropdown-toggle();
    width: fit-content;

    .arrow {
      @include arrow();
    }
  }

  .dropdown-panel {
    position: absolute;
    top: 100%;
    inset-inline-start: 0;
    background: var(--card-background);
    border: 1px solid $border-color;
    width: max(150px, 70%);
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: $box-shadow-lg;

    .time-range-selector {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        display: block;
        margin-bottom: 4px;
        padding: 0 8px;
        cursor: pointer;
        font-size: $font-size-sm;
      }
    }
  }

  .search-box {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .checkbox-list {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;

    label {
      margin-bottom: 4px;
    }
    input[type="checkbox"] {
      margin-left: 8px;
      accent-color: var(--text-color);
    }
  }

  .dropdown-actions {
    @include selector-actions();

    button {
      @include selector-actions-button();
    }
  }
}
