<div class="range-selector">
  <!-- Selector header -->
  <div class="selector-header" (click)="toggleSelector($event)">
    {{ getLabelForValue(currentRange) }}
    <span class="arrow" [class.open]="selectorOpen">&#x203A;</span>
  </div>

  <!-- Options -->
  <div class="options-container" *ngIf="selectorOpen">
    <div class="options-container-header">
      {{deathsFields.Period| LanguagesPipe}}
    </div>
    <div
      *ngFor="let option of rangeOptions"
      class="range-option"
      (click)="selectTempRange(option.value, $event)"
    >
      <span
        class="check-circle"
        [class.checked]="tempRange === option.value"
      ></span>
      <div class="option-text">
        {{ option.label }}
      </div>
    </div>

    <!-- Buttons -->
    <div class="selector-actions">
      <button (click)="cancelTempRange($event)">{{deathsFields.Cancel | LanguagesPipe}}</button>
      <button (click)="applyTempRange($event)"> {{deathsFields.OK| LanguagesPipe}} </button>
    </div>
  </div>
</div>
