.container{
  width: 100%;
  background-color: var(--grey-background);
  color: var(--text-color);
  .navigation{
    margin: 0 30px;
    padding: 10px 0 0;
    background-color: var(--grey-background);
  color: var(--text-color);
    
  }
}