<app-loading-line></app-loading-line>
<app-header></app-header>
<app-navbar [sections]="sectionElements"></app-navbar>

<div class="app-layout">
  
    <app-side-menu></app-side-menu>
    <div #sectionsContainer class="sections">
      <app-navigation></app-navigation>
      <app-data-page-header></app-data-page-header>
      <app-overview-main id="overview"></app-overview-main>
      <app-key-data id="key-data"></app-key-data>
      <app-child-cases-section id="childCases"></app-child-cases-section>
      <app-vaccination-effectiveness-section id="vaccination-effectiveness"></app-vaccination-effectiveness-section>
      <app-deaths-section id="deaths"></app-deaths-section>
      <app-testing-section id="testing" ></app-testing-section>
      <app-additional-data-section id="additional-data"></app-additional-data-section>
      <app-reinfectionand-recovery-section id="reinfectionandrecovery"></app-reinfectionand-recovery-section>
      <app-vaccination-section id="vaccination"></app-vaccination-section>
    </div>
</div>

