@import "variables";
@import "mixins";

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title1section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h3 {
    display: inline-block;
  }
}

.international-entries-table-container {
  padding: 20px;
  background-color: var(--card-background);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: $box-shadow-sm;
}

h3 {
  text-align: start;
  margin-bottom: 15px;
  color: var(--text-color);
}

.entries-table-wrapper {
  max-height: 250px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: var(--background-color);
}

.entries-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);

  th,
  td {
    text-align: start;
    padding: 8px 12px;
    border: 1px solid $border-color;
    font-size: 14px;
  }

  th {
    background-color: var(--more-hover-color);
    cursor: pointer;
    user-select: none;
    position: sticky;
    top: -1px;
    z-index: 1;
  }

  td {
    background-color: var(--background-color);
  }

  .sort-arrow {
    margin: 5px 0;
    font-size: 12px;
    color: $arrow-blue;
  }
}

.risk-red {
  background-color: #c62828; // אדום כהה
}

.risk-yellow {
  background-color: #f9a825; // צהוב-כתום כהה
}

.risk-green {
  background-color: #388e3c; // ירוק כהה
}

.risk-legend {
  display: flex;
  align-items: center;
  gap: 20px;
}

.risk-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.risk-box {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.last-update {
  @include last-update();
}
