@import "variables";
@import "mixins";
.deathsChart-container {
  color: var(--text-color);
  max-width: 600px;
  @include section-styles();

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: $font-size-base;
    }

    .title1section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    h3 {
      display: inline-block;
    }
  }
}
