
<div class="deathsChart-container">
  <p class="subtitle">{{ deathsFields.Title | LanguagesPipe }}</p>
  
  <div class="chart-card">
    <div class="title">
    <div class="title1section">
      <p class="subtitle">{{ deathsFields.DeathsDaily| LanguagesPipe }}</p>
      <app-info-icon [infoText]="deathsFields.DeathsExplanation | LanguagesPipe"></app-info-icon>
    </div>
    <app-more-menu></app-more-menu>
  </div>
    <!-- Collapsible Range Selector -->
    <app-range-selector
      [rangeOptions]="rangeOptions"
      [currentRange]="currentRange"
      (rangeChanged)="onRangeChange($event)">
    </app-range-selector>
    <app-deaths-chart
      [dates]="dates"
      [values]="values"
      [movingAverage]="movingAverage"
      [yAxisConfig]="yAxisConfig"
      [translations]="translations">
    </app-deaths-chart>
  </div>
</div>
