@import "variables";
@import "breakpoints";

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: var(--grey-background);
  color: var(--text-color);
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  .logo-wrapper {
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    height: 53px;
    z-index: 1;
    cursor: pointer;
    border-left: 1px solid rgb(220, 220, 220);
  }

  .main-title {
    margin: 0 10px;

    @include breakpoint(sm) {
      font-size: $font-size-lg;
    }
    @include breakpoint(xs) {
      font-size: $font-size-sm;
    }
  }
}

.toggle-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 34px;
  height: 34px;
  padding: 1px 6px;

  @include breakpoint(xs) {
    width: 25px;
    height: 25px;
  }
  .toggle-icon {
    position: absolute;
    pointer-events: none;
  }
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  .language-container {
    padding: 1px 6px;
    padding-top: 6px;
  }
  .language-menu {
    position: absolute;
    top: 10px;
    inset-inline-end: 87px;
    background: white;
    color: black;
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 100;
    box-shadow: $box-shadow-lg;

    span {
      cursor: pointer;
      padding: 0px 8px;
      line-height: 1.75rem;
    }
  }
}
