<div class="container">
  <h1>{{ OverviewFields.Last7Days | LanguagesPipe }}</h1>
  <div class="cards-container">
    <div class="card">
      <h3> {{ OverviewFields.ConfirmedCases| LanguagesPipe }} </h3>
      <app-info-icon [infoText]="OverviewFields.ConfirmedCasesInfo | LanguagesPipe"></app-info-icon>
      <p class="main-value">
        {{ NumericFields.last7daysConfirmedCases | NumericDataPipe }}
      </p>
      <small>
        <span class="number-value">
        %{{ NumericFields.last7daysConfirmedPercent| NumericDataPipe }}+
        </span>
        {{ OverviewFields.Prior7Days | LanguagesPipe }}
      </small>
    </div>
    <div class="card">
      <h3> {{ OverviewFields.Deaths| LanguagesPipe }} </h3>
      <app-info-icon [infoText]="OverviewFields.ConfirmedCasesInfo | LanguagesPipe"></app-info-icon>
      <p class="main-value">
        {{ NumericFields.last7daysDeaths| NumericDataPipe }}
      </p>
      <small>
        <span class="number-value">
          %{{ NumericFields.last7daysDeathsPercent| NumericDataPipe }}
        </span>
        {{ OverviewFields.Prior7Days | LanguagesPipe }}
      </small>
    </div>
    <div class="card">
      <h3> {{ OverviewFields.Tests| LanguagesPipe }} </h3>
      <app-info-icon [infoText]="OverviewFields.ConfirmedCasesInfo | LanguagesPipe"></app-info-icon>
      <p class="main-value">
        {{ NumericFields.last7daysTests| NumericDataPipe }}
      </p>
      <small>
        <span class="number-value">
           +{{ NumericFields.last7daysTestsPercent| NumericDataPipe }}%
        </span>
        {{ OverviewFields.Prior7Days | LanguagesPipe }}
      </small>
      <br>
      <small>
        <span class="number-value">
          {{NumericFields.last7daysPositiveResults| NumericDataPipe }}%
        </span>
        {{ OverviewFields.PositiveResults| LanguagesPipe }}
      </small>
    </div>
  </div>
</div>