.green-bg { background-color: #c8e6c9; }
.yellow-bg { background-color: #fff9c4; }
.orange-bg { background-color: #ffe0b2; }
.red-bg { background-color: #ffcdd2; }

@import 'variables';
.occupancy-table-wrapper {
  max-height: 150px;
  overflow-y: auto;
}

.occupancy-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);

  th, td {
    text-align: right;
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  th {
    background-color: var(--more-hover-color);
    cursor: pointer;
    user-select: none;
    position: sticky;
    top: -2px;
    z-index: 1;
  }

  td {
    background-color: var(--background-color);
  }

  .sort-arrow {
    margin-right: 5px;
    font-size: 12px;
    color: $arrow-blue;
  }
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title1section{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h3{
    display: inline-block;
  }
}


