@import "variables";
@import "mixins";

.green-bg {
  background-color: var(--green-bg);
}
.yellow-bg {
  background-color: var(--yellow-bg);
}
.orange-bg {
  background-color: var(--orange-bg);
}
.red-bg {
  background-color: var(--red-bg);
}

.occupancy-table-wrapper {
  max-height: 150px;
  overflow-y: auto;
}

.occupancy-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);

  th,
  td {
    text-align: start;
    padding: 8px 12px;
    border: 1px solid $border-color;
    font-size: $font-size-sm;
  }

  th {
    background-color: var(--more-hover-color);
    cursor: pointer;
    user-select: none;
    position: sticky;
    top: -2px;
    z-index: 1;
  }

  td {
    background-color: var(--background-color);
  }

  .sort-arrow {
    margin-right: 5px;
    font-size: 12px;
    color: $arrow-blue;
  }

  .grade-cell {
    text-align: center;

    .grade-color-box {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      text-decoration: underline;
      width: 30px;
      height: 22px;
      border-radius: 3px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title1section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h3 {
    display: inline-block;
  }
}

.last-update {
  @include last-update();
}

.risk-legend {
  display: flex;
  align-items: center;
  gap: 20px;

  .risk-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    .risk-explanation-box {
      display: flex;
      flex-direction: column;
      padding: 0 5px;

      .risk-explanation {
        font-size: $font-size-xs;
        color: gray;
      }
    }

    .risk-box {
      width: 15px;
      height: 15px;
      border-radius: 3px;
    }
    .risk-red {
      background-color: #c62828;
    }
    .risk-orange {
      background-color: #f57c00;
    }
    .risk-yellow {
      background-color: #ebeb03;
    }
    .risk-green {
      background-color: #388e3c;
    }
  }
}
