@import "variables";
@import "mixins";

app-key-data {
  display: contents;
}
.key-data-container {
  @include section-styles();

  .chart-card {
    height: 350px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    max-width: 600px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title1section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    h3 {
      display: inline-block;
      padding: 0 10px;
      margin: 0;
      font-size: $font-size-base;
    }
  }
}
