@import "variables";
.info {
  position: relative;
  display: inline-block;
  padding: 8px;

  .content {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 100%;
    background: var(--card-background);
    inset-inline-start: -20px;
    color: var(--text-color);
    padding: 2px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 120px;
    max-width: 25vw;
    font-size: $font-size-xs;
    font-weight: 400;
    z-index: 10;
    box-sizing: border-box;

    &.show-tooltip {
      opacity: 1;
      pointer-events: auto;
    }

    .content-text {
      padding: 0 5px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
