@mixin dropdown-toggle() {
  background-color: var(--grey-background);
  color: var(--text-color);
  border-radius: 30px;
  border: 1px solid $border-color;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  text-align: right;
  padding: 8px;

  .arrow {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    padding: 0 5px;
  }
  :host-context([dir="ltr"]) .arrow.open {
    transform: rotate(90deg);
  }

  :host-context([dir="rtl"]) .arrow.open {
    transform: rotate(-90deg);
  }
}

@mixin arrow() {
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  padding: 0 5px;

  :host-context([dir="ltr"]) &.open {
    transform: rotate(90deg);
  }

  :host-context([dir="rtl"]) &.open {
    transform: rotate(-90deg);
  }
}

@mixin selector-actions() {
  margin-top: 8px;
}
@mixin selector-actions-button() {
  background-color: var(--more-hover-color);
  color: var(--text-color);
  width: 50%;
  cursor: pointer;
  height: 32px;
  border: none;
  font-size: $font-size-base;
  font-family: $font-family-base;
}

@mixin last-update() {
  background-color: var(--more-hover-color);
  color: var(--text-color);
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  width: fit-content;
  padding: 5px;
}

@mixin section-styles() {
  margin: 10px 20px 0;
  padding-inline-start: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid $border-color;
}
