// _variables.scss
:root {
  --background-color: #ffffff;
  --text-color: #233333;
  --primary-color: #007bff;
  --grey-background: #f8fafd;
  --card-background: #ffffff;
  --more-hover-color: #e6f1f4;
  --green-bg: #c8e6c9;
  --yellow-bg: #fff9c4;
  --orange-bg: #ffe0b2;
  --red-bg: #ffcdd2;
}

body.dark-mode {
  --background-color: #4b6170;
  --text-color: #eeeeee;
  --primary-color: #1e90ff;
  --grey-background: #4b6170;
  --card-background: #374f60;
  --more-hover-color: #2a3b47;
  --green-bg: #2ee334;
  --yellow-bg: #ffeb3a;
  --orange-bg: #ffac30;
  --red-bg: #ff4154;
}

// 🎨 Colors
$arrow-blue: #5ea5f9;
$border-color: rgb(232, 232, 232);

// 🖋️ Font Sizes
$font-size-xs: 0.75rem; // Extra small
$font-size-sm: 0.875rem; // Small
$font-size-base: 1rem; // Base size (default)
$font-size-lg: 1.25rem; // Large
$font-size-xl: 1.5rem; // Extra large
$font-size-xxl: 2rem; // 2x Extra large

// 🖋️ Font Family
$font-family-base: "open sans", sans-serif;

// 🔲 Spacing
$spacer: 1rem; // Base spacing

// 🎨 Border Radius
$border-radius: 0.25rem; // Standard border radius
$border-radius-lg: 0.5rem; // Large border radius

// 🎨 Box Shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
$box-shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
